{block content}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{$basePath}">Domů</a></li>
		<li class="breadcrumb-item"><a n:href="GoogleTagManager:default">Výpis</a></li>
	</ol>
</nav>
{control form}
